
# Output directories
dist/

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# For macOS
.DS_Store

# XCode
DerivedData/
xcuserdata/
