$root_min_width: 200px;
$root_min_height: 200px;

#test_panel_root {
  position: absolute;
  left: 50px;
  top: 50px;
  width: $root_min_width;
  height: $root_min_height;
  min-width: $root_min_width;
  min-height: $root_min_height;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#test_panel_root_header {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-grow: 0;
}

#test_panel_root_header_move {
  text-align: center;
  background-color: red;
  border: 1px solid black;
  color: #ffffff;
  flex-grow: 1;
  padding: 10px;
  cursor: pointer;
}

#test_panel_root_header_resize {
  text-align: center;
  background-color: red;
  border: 1px solid black;
  color: #ffffff;
  flex-grow: 1;
  padding: 10px;
  cursor: pointer;
}

#test_panel_root_content {
  position: relative;
  flex-grow: 1;
  border: 1px solid black;
}